{
    "plugins": [
        "@babel/plugin-transform-exponentiation-operator",
        "@babel/plugin-transform-async-to-generator",
        "@babel/plugin-proposal-async-generator-functions",
        "@babel/plugin-transform-dotall-regex",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-proposal-optional-catch-binding",
        "@babel/plugin-proposal-unicode-property-regex",
    ]
}